{{#if this.slides}}
  <div class="sktvd-slider">
    <div class="sktvd-slider-slide --{{this.current.kind}}">
      <div class="sktvd-slider-main">
        {{#if this.current.tag}}
          <span class="sktvd-slider-tag">{{this.current.tag}}</span>
        {{/if}}
        <h2 class="sktvd-slider-title">{{this.current.title}}</h2>
        {{#if this.current.description}}
          <p class="sktvd-slider-desc">{{this.current.description}}</p>
        {{/if}}
        {{#if this.current.event_when}}
          <p class="sktvd-slider-when">{{this.current.event_when}}</p>
        {{/if}}
        <div class="sktvd-slider-cta">
          {{#if this.current.cta_url}}
            <a href={{this.current.cta_url}} class="btn btn-primary">
              {{this.current.cta_text}}
            </a>
          {{/if}}
          {{#if this.current.cta_alt_url}}
            <a
              href={{this.current.cta_alt_url}}
              class="btn sktvd-slider-cta-alt"
            >{{this.current.cta_alt_text}}</a>
          {{/if}}
        </div>
      </div>
      {{#if this.current.watermark}}
        <div class="sktvd-slider-watermark">{{this.current.watermark}}</div>
      {{/if}}
    </div>

    {{#if (gt this.slides.length 1)}}
      <button
        type="button"
        class="sktvd-slider-arrow prev"
        aria-label="Предыдущий слайд"
        {{on "click" (action "step" -1)}}
      >‹</button>
      <button
        type="button"
        class="sktvd-slider-arrow next"
        aria-label="Следующий слайд"
        {{on "click" (action "step" 1)}}
      >›</button>

      <div class="sktvd-slider-dots">
        {{#each this.slides as |slide i|}}
          <button
            type="button"
            class="sktvd-slider-dot"
            aria-current={{if (eq i this.index) "true" "false"}}
            aria-label="Слайд"
            {{on "click" (action "goTo" i)}}
          ></button>
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/if}}
